/* General */
.hidden {
    display: none;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: #333;
    color: white;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-credit {
    font-size: 12px;
    margin-top: 5px;
}

.footer-credit a {
    color: #007bff;
    text-decoration: none;
}

.footer-credit a:hover {
    text-decoration: underline;
}

/* Sección About Us */
.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px;
    gap: 40px;
}

.about-left img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.about-right {
    text-align: left;
    max-width: 50%;
}

.about-right h2 {
    font-size: 2rem;
    color: #007bff;
}

.about-right p {
    font-size: 1.1rem;
    color: #555;
}
